<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">
    <link rel='stylesheet' href='/public/css/style.css' />
    <script defer src="/public/js/flashmessage.js"></script>

    {{#each js}}
      <script defer src="/public/js/{{this}}"></script>
    {{/each}}
  </head>
  <body>
    {{#if (emptyObject messages)}}
      {{> flashmessage}}
    {{/if}}
    {{> header}}
    {{{body}}}

    {{#if isLoggedIn}}
      <script>
        document.getElementById('logout-button').addEventListener('click', (e) => {
          fetch('/users/logout', {method: "POST"})
          .then((response) => response.json())
          .then((res_json) => {
            console.log(res_json);
            location.replace('/');
          })
        });
      </script>

    {{/if}}
  </body>
</html>
